#ev-panel-container {
  border: 1px solid #0a1117;
  background: #0f151f;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
}


#ev-panel-container h3 {
  margin: 0 0 6px 0;
  font-size: 15px;
}
#ev-panel-container a {
  display: inline-block;
  margin-top: 10px;
  background: #52a7d8;
  padding: 4px 6px;
  text-decoration: none;
  color: white
}

#ev-panel-container ul {
  padding-left: 18px;
  color: #2E9AF2;
  margin: 0 0 25px 0;
}

#ev-panel-container ul li {
  margin-bottom: 4px;
}
